# For use with non-containerized firod
rpcuser=rpcuser
rpcpassword=rpcpassword
disablewallet=1
daemon=1

rpcallowip=::/0

# Allows use with Stack Wallet and Campfire
# Changing this requires reindexing firod
mobile=1